.night {
    div{
        transition: all .3s;
        .list-box,.vux-tab,.main-tab,.nav-bar {
            background-color: #000;
        }
        .bar-container {
            background-color: rgb(48, 47, 47);
        }
    }
    &#app{
        transition: all .3s;
        color: #eee;
    }
}